.chat-messages{
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    scrollbar-width: none;
    /* when there will be lots of messages scroll will activate */
    overflow-y: auto;
}

.default-message{
    flex-grow: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    scrollbar-width: none;
    /* when there will be lots of messages scroll will activate */
    overflow-y: auto;
    /* overflow: scroll; */
    color:grey;
    font-size: large;
    margin-top: 100px;
}