.app-container{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* in order to give the app height as a browser height vh is used */
    height: 100vh;
    display: flex;

    /* flex by default put every component horizontally to fix this we use this */
    flex-direction: column;
}